# Folder Dependencies
node_modules/

# File Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Folder Sistem
.DS_Store
Thumbs.db

# File Konfigurasi Lingkungan
.env
.env.local

# Folder Build
dist/
build/

.next/*
